*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right,#d4d3dd,#efefbb);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}
.country{
    background: #eee;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}
.country .img-container{
    width: 120px;
    height: 120px;
    text-align: center;
}
.country .img-container img{
    max-width: 90%;
    margin-top: 20px;
}
.country .info{
    margin-top: 20px;
}
.country:hover{
    transform: translateY(5px);
}