*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
    color: #222;
    padding-bottom: 50px;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #222;
}
.nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 15px;
}
.nav a:hover{
    color: red;
}
.cover{
    background: url("image/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-bottom: 20px;
}
.content h2{
    font-size: 150%;
    margin: 20px 0;
}
.content p{
    color: #555;
}
.nav.active{
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
.nav.active a{
    color: #000;
}
.nav.active a:hover{
    color: red;
}