*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.8;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}
button{
    border: none;
    background: #47a386;
    padding: 10px;
    color: white;
    font-size: 15px;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.35);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.modal{
    background: white;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 50px;
    width: 500px;
}
.modal h1 , .modal p{
    margin-bottom: 17px;
}

.show{
    opacity: 1;
    pointer-events: auto;
}