*{
    box-sizing: border-box;
}
:root{
    --primary-color:#000;
    --secondary-color:#fff;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.time{
    font-size: 60px;
}
.toggle{
    cursor: pointer;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
    top: 450px;
}
html.dark{
    --primary-color:#fff;
    --secondary-color:#333;
}
html.dark{
    background: #111;
    color: var(--primary-color);
}
html{
    transition: all 0.5s ease-in;
}