*{
    box-sizing: border-box;
}
body{
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.btn{
    background: #fff;
    color: purple;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 20px;
}
.btn:active{
    transform: scale(0.98);
}
.container{
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.notification{
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 0.5rem;
    color: green;
}