*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.modal{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
.full-image{
    position: absolute;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
}
.modal.open{
    opacity: 1;
    pointer-events: all;
}