*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.gallery-imgs {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
}
.gallery-imgs a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.full-image{
    position: absolute;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease-in-out;
}