*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #005490;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    margin: 30px auto;
    width: 350px;
}
h3{
    color: white;
    text-align: center;
    margin: 10px;
}
input[type="text"]{
    border: 1px solid #dedede;
    border-radius: 2px;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
.btn{
    background: purple;
    cursor: pointer;
    color: #fff;
    display: block;
    margin: 10px 0 30px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}